
/* @media(max-width:300px){
    div{
background-color: blue;
    }
}
@media (min-width:300px) and (max-width:400px){
    div{
        background-color: red;
    }
}
@media (min-width:400px) and (max-width:500px){
    div{
        background-color: brown;
    }
}
@media (min-width:500px) and (max-width:600px){
    div{
        background-color: blueviolet;
    }
}
@media (min-width:600px){
    div{
        background-color:olivedrab;
    }
} */
div{
    height: 100px;
    width: 100px;
background-color: magenta;
color: black;
/* transition-property: all;
transition-duration: 2s;
transition-timing-function: steps(5);
transition-delay: 2s; */
/* transition: all 2s ease-in 2s;/*shorthand of above four property*/
/* position: absolute; */ 
top: 300px;
bottom: 300px;
left: 300px;
/* transform: rotate(40deg); */

}
/* div:hover{
    /* background-color: aqua;
    font-size: 20px; */
    /* transform: scale(2,3);scale(x,y) */
    /* transform: translate(200px,200px);transform(x,y) */
    /* transform: skew(40deg); 
    
} 
/* div:active{
    /* background-color: pink;when cursor clicks to div tag then the color showed will be of active div 
} */